$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: 'Space Grotesk', sans-serif;

$black: #151515;
$white: #ffffff;
$green: #4EE1A0;
$gray: #242424;
$light-gray: #d9d9d9;
$gradient-start: #202020;
$gradient-end: #151515;   