@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top:20px;
    padding: 87px 16px 40px 16px;
    color: v.$white;
    text-align: center;
    background-color: #1a1a1a;
    // margin-bottom: 40px;
    .title {
        font-size: 1.5rem;
        margin-top: 40px;
    }
    .sociales {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 25px;

        a {
            color: v.$white;
            font-size: 1.5rem;
            transition: color 0.3s ease;

            &:hover {
                color: v.$green;
            }
        }
    }
}