@use "../abstracts/variables" as v;
@use"../abstracts/mixins" as m;

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    @include m.breakpoint(tablet){
        align-content: space-between;
        // width: 100%;
        // align-items: normal;
        // padding: 16px;
        // margin: 16px;
        // max-width: 90%;
        // // max-height: auto;
        // overflow: auto;

    }
    
    &__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        // position: relative;
        // min-width: 60%;
        z-index: 1;
        // background-color: #1a1a1a;
        @include m.breakpoint(tablet){
            display: block;
            width: 100%;
        }
    }
    .nav__1{
        @include m.breakpoint(tablet){    
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // overflow: none;
        margin: 0;
        padding: 0px;
        // background-color: #181818;
        }
    }
    .oval{
        &__1{
            position: absolute;
            top: 150px;
            left: 3px;
            // z-index: 0;
            stroke: v.$gray_2;
            width: 50%;
            height: auto;
            @include m.breakpoint(tablet){
            width: 32%;
            top: 90px;
        } 
        }
        &__2{
        position: absolute; 
        top: 160px; 
        left: 3px;
        z-index: 0;
        stroke: v.$gray_2;
        width: 50%;
        height: auto;
        @include m.breakpoint(tablet){
            width: 32%;
            top: 100px;
        }  
        }
        &__3{
        position: absolute;
        top: 170px;
        left: 3px;
        z-index: 0;
        stroke: v.$gray_2;
        width: 50%;
        height: auto;
            @include m.breakpoint(tablet){
                width: 32%;
                top: 110px;
            }
        }
        &__4{
        position: absolute;
        top: 180px;
        left: 3px;
        z-index: 0;
        stroke: v.$gray_2;
        width: 50%;
        height: auto;
            @include m.breakpoint(tablet){
                width: 32%;
                top: 120px;
            }
        }
        &__5{
        position: absolute; 
        top: 190px; 
        left: 3px;
        z-index: 0;
        stroke: v.$gray_2;
        width: 50%;
        height: auto;
            @include m.breakpoint(tablet){
                width: 32%;
                top: 130px;
            } 
        }
        // width: 50px;
        // height: 50px; 
        // background: none;
    }
    .circulo{
        position: absolute;
        top: 270px;
        right: -350px;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include m.breakpoint(tablet){
            top: 415px;
            right: -710px;
            // left: 10px;
            width: 100%;
            height: 100%;
        }
    }
    // .img-container{
    //         @include m.breakpoint(tablet){
    //         position: absolute;
    //         top: 2px;
    //         right: 0px;
    //             width: 40%;
    //             height: auto;
    //             z-index: -4;
            
    //             }
    // }
}
.title {
    color: v.$white;
    font-size: 1.7rem;
    margin-bottom: 20px;
    // background-color: #181818;
}
.sociales {
    display: flex;
    z-index: 2; 
    gap: 18px;
    margin-bottom: 40px;
    // background-color: #181818;
    .img{
        width: 24px;
        height: 24px;
        background: transparent;
        
    }
}

.img-principal-movil {
    @include m.breakpoint(tablet){
        display: none;
    // position: absolute;
    // top: 60px;
    // right: 170px;
        // width: 100%;
        // height: auto;
    }
    @include m.breakpoint(desktop){
        display: none;
    }

}
.img-principal-tablet {
    display: none;
    @include m.breakpoint(tablet){
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 38%;
        height: auto;
        z-index: -4;    
        }
    @include m.breakpoint(desktop){
        display: none;
    }
}
.img-principal-desktop {
    display: none;
    @include m.breakpoint(tablet){
        display: none;
    }
    @include m.breakpoint(desktop){
        display: block;
        position: absolute;
        top: 60px;
        right: 170px;
        width: 100%;
        height: auto;
    }
}

h1{
font-size: 2.5rem;
color: v.$white;
@include m.breakpoint(tablet){
        font-size: 4rem;
        span{
            display: block;
        } 
    }
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 60px;
    // background-color: #181818;
    position: relative;
    p{
        margin-top: 24px;
        color: v.$white;
        font-size: 1rem;
        @include m.breakpoint(tablet){
            font-size: 1.2rem;
            display: block;
        }
    }
    .btn-contact{
        // padding: 10px 20px;
        @include m.btn-contact;
    
    }
    .linea_adams{
        position: absolute;
        top: 95px;
        right: 50px;
        @include m.breakpoint(tablet){
            width: 80%;
            top: 240px;
            // right: 10px;
            left: 10px;
        }
    }
    @include m.breakpoint(tablet){
        display: flex;
        flex-direction: column;
        align-items: start;
        // gap: 20px;
    }
}
.container-info{
    @include m.breakpoint(tablet){
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: start;
        // gap: 20px;
    }
}