@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
.hero {
    &__skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        text-align: center;
        h2{
            font-size: 2.5rem;
            color: v.$white;
        }
    }

    &__projects{
        // position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 20px;
        // flex-wrap: wrap;
        justify-content: space-between;
        margin: 80px 16px 0 16px;
        h1{
            font-size: 2rem;
            color: v.$white;
        }
        .btn-contact{
        @include m.btn-contact;
        margin-top:0;
        // padding: 0;
        }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap:15px;
        }
    }
    &__portfolio{
        display: flex;
        // flex-direction: column;
        // align-items: start;
        // justify-content: start;
        gap: 20px;
        margin: 40px 16px 0 16px;
        overflow-x: auto;
        .portfolio__1{
            min-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            // background-color: v.$dark-gray;
            border-radius: 8px;
            // padding-bottom: 16px;
            text-transform: uppercase;
            .image-1{
                width: 100%;
            }
            .description{
                // position: relative;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 25px;
                margin-top: 20px;
                .title{
                    font-size: 1.5rem;
                    color: v.$white;
                    margin: 0px;
                }
                .skills{
                    font-size: 20px;
                }
                .link{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                    letter-spacing: 3px;
                    &__proyect{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 10px;
                    }
                    &__code{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 10px;
                    }
                    
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }

}

