@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

* {
    font-family: v.$primary-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$black; /* Fondo negro */
    color: #fff;
    // position: relative;
    // @include m.breakpoint(desktop){
    //     // max-width: 870px;
    //     // margin-inline: auto;
    // }
}




// .circulo__Desktop__1 {
//     display: none;
//     @include m.breakpoint(desktop){
//         display: block;
//         position: absolute;
//         top: 240px;
//         right: 100px;
//         width: 30%;
//         height: auto;
//         stroke:v.$gray_2;
//         // z-index: 4;
//         pointer-events: none;
//         .circulo{
//             display: none;
//         }
//     }
// }