@use '../abstracts/variables' as v;
* {
    font-family: v.$primary-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: v.$black;
}

body {
    background-color: v.$black; /* Fondo negro */
    color: #fff;
    }